<!DOCTYPE html>
<meta charset="UTF-8">
<body>
    <h1>Login</h1>

    <form action="{{ path('login') }}" method="POST">
        <fieldset>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </fieldset>

        <fieldset class="form-actions">
            <input type="submit" value="Login" />
        </fieldset>
    </form>
</body>